<section class="team">
  <div class="profile-images">
    <div class="img"><img src="images/basquet.avif" alt="" /></div>
    <div class="img"><img src="images/box.avif" alt="" /></div>
    <div class="img"><img src="images/cycling.avif" alt="" /></div>
    <div class="img"><img src="images/gym.avif" alt="" /></div>
    <div class="img"><img src="images/natacion.avif" alt="" /></div>
    <div class="img"><img src="images/pilates.avif" alt="" /></div>
    <div class="img"><img src="images/remo.avif" alt="" /></div>
    <div class="img"><img src="images/run.avif" alt="" /></div>
    <div class="img"><img src="images/tenis.avif" alt="" /></div>
  </div>

  <div class="profile-names">
    <div class="name default"><h1>The Sports</h1></div>
    <div class="name"><h1>Basquet</h1></div>
    <div class="name"><h1>Box</h1></div>
    <div class="name"><h1>Cycling</h1></div>
    <div class="name"><h1>Gym</h1></div>
    <div class="name"><h1>Natacion</h1></div>
    <div class="name"><h1>Pilates</h1></div>
    <div class="name"><h1>Remo</h1></div>
    <div class="name"><h1>Run</h1></div>
    <div class="name"><h1>Tenis</h1></div>
  </div>
</section>
